# build output
dist/
.vercel/
.output/

# dependencies
node_modules/

# astro
.astro/

# environment
.env
.env.production

# logs
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
